:root{
    --bg-color: #FFF;
    --color:#171717;
    --second-color:#0074FF;
    --main-color:#FBBB21;
    --main-color-hover:#FBBB21;

    --body:16px;
    --h1:70px;
    --h2:70px;
    --h3:40px;
    --h4:30px;
    --h5:21px;
    --bold:700;
    --semi-bold:600;
    --normal:400;

    --radius:55px;
}
/*RESET*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.container{ 
    margin:0 auto;
    width: 1280px;
}
body{
    background-color: var(--bg-color);
    font-size: var(--body);
    font-family: 'Poppins', sans-serif;
}
.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 200px;
    margin-top: 50px;
    position: relative;
}
header .logo img{
    height: 120px;
    width: auto;
}
.header__img{
    position: absolute;
    top: 0;
    right: 20%;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 85px;
    height: 30px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--second-color);
    /* -webkit-transition: .4s;
    transition: .4s; */
  }
  .switch .slider:before {
    position: absolute;
    content: url(images/sun.svg);
    height: 45px;
    width: 45px;
    left: -15px;
    bottom: -10px;
    background-color: #FFF;
    border: 2px solid var(--second-color);
    line-height: 60px;
    display: flex;
    justify-content: center;
/*     -webkit-transition: .4s;
    transition: .4s;
 */  }  
  .switch input:checked + .slider {
    background-color: var(--second-color);
  }
  .switch input:focus + .slider {
    box-shadow: 0 0 1px var(--second-color);
  }
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(60px);
    -ms-transform: translateX(60px);
    transform: translateX(60px);
  }
  .switch .slider.round {
    border-radius: 34px;
  }
  .switch .slider.round:before {
    border-radius: 50%;
  }
.hero{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 250px);
    position: relative;
}
.hero__info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
.hero__info--span{
    color: var(--main-color);
    margin-bottom: 10px;
    position: relative;
    padding-left: 55px;
}
.hero__info--span::before{
    background-color: var(--main-color);
    border-radius: var(--radius);
    content: "";
    height: 4px;
    width: 42px;
    position: absolute;
    left: 0;
    transform: translateY(14px);
}
.hero__info h1{
    color: var(--second-color);
    margin-bottom: 30px;
    font-size: var(--h1);
    font-weight: var(--bold);
    line-height: 1.2;
}
.hero__float_img{
    position: absolute;
    bottom: -50px;
    left: -5%;
}
.hero__img{
    padding-left: 50px;
    width: 50%;
}
.hero__info--input{
    position: relative;
}
.hero__info--input input[type=email] {
    background-color: #EFF3F4;
    border:0;
    border-radius: var(--radius);
    height: 80px;
    align-items: center;
    display: flex;
    padding-left: 30px;
    position: relative;
    width: 100%;
    justify-content: space-between;
}
.hero__info--input input[type=email]::placeholder{
    font-size: 18px;
    opacity: .5;
}
.hero__info--input input[type=button]{
    background-color: var(--main-color);
    color:#FFF;
    cursor: pointer;
    padding: 0 50px;
    border-radius: var(--radius);
    text-transform: capitalize;
    height: 80px;
    top: 0;
    right: 0;
    border:0;
    position: absolute;
}
.about_us{
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: calc(100vh);
}
.about_us__img--ver{
    position: absolute;
    right: -20%;
    top: 50%;
    transform: translateY(-50%);
}
.about_us__info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 50px;
    width: 50%;
}
.about_us h2{
    color: var(--second-color);
    font-size: var(--h2);
    position: relative;
}
.about_us h2::before{
    background-color: var(--main-color);
    border-radius: var(--radius);
    content: "";
    height: 4px;
    width: 42px;
    position: absolute;
    left: 0;
}
.about_us h5{
    font-size: var(--h5);
    font-weight: var(--normal);
}
.about_us__img{
    position: relative;
    padding-left: 50px;
    width: 50%;
}
.about_us__img--float{
    position: absolute;
    top: -150px;
    right: -50px;
}
.about_us_2{
    align-items: center;
    display: flex;
    justify-content: center;
    height: calc(100vh);
    position: relative;
}
.about_us_2__img{
    padding: 50px 100px;
    position: relative;
    width: 50%;
}
.about_us_2__img--float{
    position: absolute;
    left: -30%;
    top: 50%;
    transform: translate(0, -50%);
}
.about_us_2__img--p{
    color: var(--second-color);
    position: absolute;
    left: 0;
    opacity: .2;
    top: 0;
    font-size: 105px;
    right: 0;
    writing-mode: vertical-lr;
    text-transform: capitalize;
    font-weight: bold;
    pointer-events: none;
    text-align: center;
    height: 100%;
}
.about_us_2__img--p span{
    position: relative;
}
.about_us_2__img--p span::after{
    content: url(images/vertical.jpg);
    position: absolute;
    right: 100px;
    top: 0;
}
.about_us_2__info{
    flex-direction: column;
    display:flex;
    width: 50%;
}
.values{
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    display: flex;
}
.values picture{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.values__info{
    padding-left: 20px;
    width: 75%;
}
.values__info h3{
    color:var(--second-color);
    font-size: var(--h3);
    font-weight: var(--semi-bold);
    position: relative;
}
.values__info h3::before{
    background-color: var(--main-color);
    border-radius: var(--radius);
    content: "";
    height: 4px;
    width: 42px;
    position: absolute;
    left: 0;
}
#works{
    margin-bottom: 600px;
    position: relative;
}
.works__img--float{
    position: absolute;
    top: -50px;
    right: 0px;
}
.works__img--float2{
    position: absolute;
    top: 50%;
    left: 0px;
}
.works__img--float3{
    position: absolute;
    top: 70%;
    right: 0;
}
.works__img--float4{
    position: absolute;
    top: 100%;
    left: 0;
}
#works h2{
    color: var(--second-color);
    font-size: var(--h2);
    font-weight: var(--bold);
    margin:0 auto 50px;
    text-align: center;
    position: relative;
}
#works h2::before{
    background-color: var(--main-color);
    border-radius: var(--radius);
    content: "";
    height: 4px;
    width: 42px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.works{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.card__works{
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    width: 28%;
}
.card__works--2{
    top: 130px;
}
.card__works--3{
    position: relative;
    top: 300px;
}
.card__works--3_img{
    top: -150px;
    position: absolute;
    left: 0;
}
.card__works--4, .card__works--5{
    top:350px
}
.card__works--4_img{
    position: absolute;
    right: 0;
    top: -150px;
}
.card__works--5_img
{
    position: absolute;
    right: -200px;
    top: 100px;
}
.card__works span{
    background-color: var(--second-color);
    color: #FFF;
    align-items:center;
    justify-content: center;
    display: flex;
    font-size: var(--h4);
    font-weight: var(--semi-bold);
    border-radius: 50%;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
}
.card__works h4{
    color: var(--second-color);
    font-size: var(--h4);
    margin-bottom: 20px;
    font-weight: var(--bold);
    position: relative;
}
.card__works h4::before{
    background-color: var(--main-color);
    border-radius: var(--radius);
    content: "";
    height: 4px;
    width: 42px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.card__works p{
    text-align: center;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:50px 0;
}
.social_media p{
    margin-bottom: 10px;
}
.social_media{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 30%;
}
.social_media--img{
    position: absolute;
    top: -150px;
    right: 50px;
}
.social_media__img{
    align-items: center;
    display: flex;
    justify-content: center;
}
.social_media__img a{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0 10px;
}
.footer__nav{
    display: flex;
    align-items: center;
    justify-content: space-around;    
    width: 50%;
}
.footer__nav a{
    color:var(--color);
    text-decoration: none;
}
.empty{
    width: 30%;
    position: relative;
}
.empty--img{
    position: absolute;
    right: 0;
    top: -150px;
}

/*MEDIA*/


