:root{
    --bg-color: #FFF;
    --color:#171717;
    --second-color:#0074FF;
    --main-color:#FBBB21;
    --main-color-hover:#FBBB21;

    --body:16px;
    --h1:70px;
    --h2:70px;
    --h3:40px;
    --h4:30px;
    --h5:21px;
    --bold:700;
    --semi-bold:600;
    --normal:400;

    --radius:55px;
}
/*RESET*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.container{ 
    margin:0 auto;
    width: 1280px;
}
body{
    background-color: var(--bg-color);
    font-size: var(--body);
    font-family: 'Poppins', sans-serif;
}
.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 200px;
}
header .logo img{
    height: 130px;
    width: auto;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 85px;
    height: 30px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--second-color);
    /* -webkit-transition: .4s;
    transition: .4s; */
  }
  .switch .slider:before {
    position: absolute;
    content: url(images/sun.svg);
    height: 45px;
    width: 45px;
    left: -15px;
    bottom: -10px;
    background-color: #FFF;
    border: 2px solid var(--second-color);
    line-height: 55px;
    display: flex;
    justify-content: center;
/*     -webkit-transition: .4s;
    transition: .4s;
 */  }  
  .switch input:checked + .slider {
    background-color: var(--second-color);
  }
  .switch input:focus + .slider {
    box-shadow: 0 0 1px var(--second-color);
  }
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(60px);
    -ms-transform: translateX(60px);
    transform: translateX(60px);
  }
  .switch .slider.round {
    border-radius: 34px;
  }
  .switch .slider.round:before {
    border-radius: 50%;
  }
.hero{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 200px);
}
.hero__info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
.hero__info--span{
    color: var(--main-color);
    margin-bottom: 10px;
    position: relative;
    padding-left: 55px;
}
.hero__info--span::before{
    background-color: var(--main-color);
    border-radius: var(--radius);
    content: "";
    height: 4px;
    width: 42px;
    position: absolute;
    left: 0;
    transform: translateY(14px);
}
.hero__info h1{
    color: var(--second-color);
    margin-bottom: 30px;
    font-size: var(--h1);
    font-weight: var(--bold);
    line-height: 1.2;
}
.hero__img{
    padding-left: 50px;
    width: 50%;
}
.hero__info--input{
    position: relative;
}
.hero__info--input input[type=email] {
    background-color: #EFF3F4;
    border:0;
    border-radius: var(--radius);
    height: 80px;
    align-items: center;
    display: flex;
    padding-left: 30px;
    position: relative;
    width: 100%;
    justify-content: space-between;
}
.hero__info--input input[type=email]::placeholder{
    font-size: 18px;
    opacity: .5;
}
.hero__info--input input[type=button]{
    background-color: var(--main-color);
    color:#FFF;
    cursor: pointer;
    padding: 0 50px;
    border-radius: var(--radius);
    text-transform: capitalize;
    height: 80px;
    top: 0;
    right: 0;
    border:0;
    position: absolute;
}
.about_us{
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: calc(100vh);
}
.about_us__info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 50px;
    width: 50%;
}
.about_us h2{
    color: var(--second-color);
    font-size: var(--h2);
    position: relative;
}
.about_us h2::before{
    background-color: var(--main-color);
    border-radius: var(--radius);
    content: "";
    height: 4px;
    width: 42px;
    position: absolute;
    left: 0;
}
.about_us h5{
    font-size: var(--h5);
    font-weight: var(--normal);
}
.about_us__img{
    padding-left: 50px;
    width: 50%;
}
.about_us_2{
    align-items: center;
    display: flex;
    justify-content: center;
    height: calc(100vh);
    position: relative;
}
.about_us_2__img{
    padding: 50px 100px;
    width: 50%;
}
.about_us_2__img--p{
    color:var(--second-color);
    position: absolute;
    left: 0;
    opacity: .2;
    top: 50%;
    font-size: 90px;
    right: 0;
    writing-mode: vertical-lr;
    text-transform: capitalize;
    transform: translateY(-50%);
    font-weight: bold;
    pointer-events: none;
}
.about_us_2__info{
    flex-direction: column;
    display:flex;
    width: 50%;
}
.values{
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    display: flex;
}
.values picture{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.values__info{
    padding-left: 20px;
    width: 75%;
}
.values__info h3{
    color:var(--second-color);
    font-size: var(--h3);
    font-weight: var(--semi-bold);
    position: relative;
}
.values__info h3::before{
    background-color: var(--main-color);
    border-radius: var(--radius);
    content: "";
    height: 4px;
    width: 42px;
    position: absolute;
    left: 0;
}